<section 
    style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvqXXXtq4Zk9zjjiCxbDPvrHnlu-kW_njV-3-sBq9BPb2AdjGjiO-V8oavJV9S_N8wrmk&usqp=CAU);">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10 col-xl-5">
                <div class="card text-black" style="border-radius: 28px; background-color:#f0f7ff ;">
                    <div class="card-body p-md-10">

                        <div class="col-md-2 col-lg-10 col-xl-8 order-2 order-lg-1">
                            <div class="container">
                            <p class="text-center h1 fw-bold mb-3 mx-1 mx-md-4 mt-4">JOB HUNT</p>
                            
                            <button (click)="login()" class="btn btn-primary" style="margin-left:20px;width:300px;">Login</button><br>
                            <button (click)="register()" class="btn btn-primary" style="margin-top:20px;margin-left:20px;width:300px;">register</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
